[submodule "gofrontend"]
	path = gofrontend
	url = https://github.com/plctlab/gofrontend.git
[submodule "libgo/libffi"]
	path = libgo/libffi
	url = https://github.com/plctlab/libffi.git
[submodule "libgo/libbacktrace"]
	path = libgo/libbacktrace
	url = https://github.com/plctlab/libbacktrace.git
